In [5]:
import numpy as np
import helper
import pickle
import datetime
import os.path
import time
import pandas as pd
import sqlite3
import pandas as pd
import re

In [6]:
origin="ATL"
destination="SEA"
mode="domestic"
duration=5
folder_location = "logs/"
exclusion_list = ["2024-05-31.pkl", "2024-05-31_intl.pkl"]
stops = 0

#This gets all the data from all the files that matches origin and destination
# aggDf = helper.getAllFlightData(origin, destination, folder_location, exclusion_list)
# aggDf = helper.getItinDfFromAggDf(origin, destination, aggDf, duration, mode, stops)

In [30]:
def extract_price_and_currency(df):
    # Use regex to extract currency symbol (assumes symbol is at the start)
    df['currency'] = df['price'].str.extract(r'^([^\d]+)')  # non-digit characters at start
    # Remove non-numeric characters and convert to float
    df['price_float'] = df['price'].str.replace(r'[^\d.]', '', regex=True).astype(float)
    return df

def query_flights_from_db(db_filename, mode, folder_location, origin=None, destination=None, max_price=None, after_date=None):
    # Connect to the database
    # print(f"{folder_location}{db_filename}_{mode}.db")
    conn = sqlite3.connect(f"{folder_location}{db_filename}_{mode}.db")
    cursor = conn.cursor()

    # Build query with optional conditions
    query = "SELECT * FROM data_table WHERE 1=1"
    params = []

    if origin:
        query += " AND origin = ?"
        params.append(origin)
    if destination:
        query += " AND destination = ?"
        params.append(destination)
    if max_price:
        query += " AND CAST(price AS FLOAT) <= ?"
        params.append(max_price)
    if after_date:
        query += " AND departure_date >= ?"
        params.append(after_date)

    # Execute the query and load into DataFrame
    df = pd.read_sql_query(query, conn, params=params)
    print(f"\nTotal rows fetched into DataFrame: {len(df)}")

    # Close connection
    conn.close()
    return df


def filter_df(
    df,
    max_price=None,
    min_price=None,
    start_date=None,
    end_date=None,
    exact_origin=None,
    exact_destination=None,
    max_stops=None
):
    filtered_df = df.copy()

    if max_price is not None:
        filtered_df = filtered_df[pd.to_numeric(filtered_df['price_float'], errors='coerce') <= max_price]
    if min_price is not None:
        filtered_df = filtered_df[pd.to_numeric(filtered_df['price_float'], errors='coerce') >= min_price]
    if start_date is not None:
        filtered_df = filtered_df[filtered_df['departure_date'] >= start_date]
    if end_date is not None:
        filtered_df = filtered_df[filtered_df['departure_date'] <= end_date]
    if exact_origin:
        filtered_df = filtered_df[filtered_df['origin'] == exact_origin]
    if exact_destination:
        filtered_df = filtered_df[filtered_df['destination'] == exact_destination]
    if max_stops is not None:
        filtered_df = filtered_df[pd.to_numeric(filtered_df['stops'], errors='coerce') <= max_stops]

    print(f"Filtered rows remaining: {len(filtered_df)}")
    return filtered_df

In [8]:

results = query_flights_from_db(
    db_filename="dataDB",
    mode="domestic",
    folder_location="./logs/",
    origin="ATL",
    destination="SEA",
    # max_price=450,
    # after_date="2025-07-01"
)
results = extract_price_and_currency(results)
print(f"\nTotal rows now: {len(results)}")

./logs/dataDB_domestic.db

Total rows fetched into DataFrame: 1684925

Total rows now: 759353

In [36]:
# results = extract_price_and_currency(results)
print(f"\nTotal rows now: {len(results)}")
# print(results.head())
results_nonstop = filter_df(results, max_price=90, max_stops=0)
print(results_nonstop.head())

Total rows now: 759353
Filtered rows remaining: 5361
           id origin destination    name days price       today  days_ahead  \
34690  728366    ATL         SEA  Alaska        $99  2024-06-05          26
34691  728367    ATL         SEA  Alaska        $99  2024-06-05          26
34917  728883    ATL         SEA  Alaska        $99  2024-06-05          28
35011  729098    ATL         SEA  Alaska        $99  2024-06-05          29
35343  729850    ATL         SEA  Alaska        $99  2024-06-05          32

      flight_duration          flight_depart           flight_arrive stops  \
34690     5 hr 21 min  7:00 AM on Tue, Jul 2   9:21 AM on Tue, Jul 2     0
34691     5 hr 28 min  7:32 PM on Tue, Jul 2  10:00 PM on Tue, Jul 2     0
34917     5 hr 28 min  7:32 PM on Thu, Jul 4  10:00 PM on Thu, Jul 4     0
35011     5 hr 21 min  7:00 AM on Fri, Jul 5   9:21 AM on Fri, Jul 5     0
35343     5 hr 21 min  7:00 AM on Mon, Jul 8   9:21 AM on Mon, Jul 8     0

      stops_info departure_date currency  price_float
34690                2024-07-02        $         99.0
34691                2024-07-02        $         99.0
34917                2024-07-04        $         99.0
35011                2024-07-05        $         99.0
35343                2024-07-08        $         99.0